---
import ProjectCard from "../components/ProjectCard.astro";
import { projects } from "../utils/data";
import SectionContainer from "./SectionContainer.astro";

import { languageList } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";

const currentLang = Astro.currentLocale || "es";

const t = useTranslations(currentLang as keyof typeof languageList);
---

<SectionContainer id="projects">
  <h2
    id="proyectos-heading"
    class="text-3xl font-extrabold text-gray-800 dark:text-gray-100 md:pt-6 mb-2"
  >
    {t("project.title")}
  </h2>
  <p class="text-gray-500 dark:text-gray-300 text-base leading-relaxed">
    {t("project.description")}
  </p>
  <div class="w-full flex justify-center mt-10">
    <div
      class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 w-full max-w-screen-xl"
    >
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </div>
</SectionContainer>
