---
const { label } = Astro.props
---

<span class='relative inline-flex overflow-hidden rounded-full p-[1px]'>
    <span
        class='absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#bfdbfe_0%,#60a5fa_50%,#bfdbfe_100%)]'
    ></span>
    <div
        class='inline-flex items-center justify-center w-full px-3 py-1 text-sm text-gray-800 bg-gray-100 rounded-full cursor-default dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap'
    >
        {label}
    </div>
</span>
